</main>
{{ callback }}
<div class="modal fade" id="consultation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">FREE CONSULTATION</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="consultation-body"></div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-3">
        <div class="footer_logo">
          <a href="#">
            <img src="/image/catalog/logo/logo-dark.svg" class="img-fluid" alt="logo">
          </a>
        </div>
        <div class="footer_info">
          <p>AK Clinics- India most trusted & recommended Hair, Skin, Cosmetic Surgery Clinics in India run by Dr. Kapil Dua & Dr. Aman Dua.</p>
        </div>
      </div>
      <div class="col-lg-2">
        <h5>Explore</h5>
        {% if informations %}
        <ul class="list-unstyled">
          {% for information in informations %}
            <li>
              <a href="{{ information['href'] }}"{% if information['external'] %} target="_blank"{% endif %}>{{ information['title'] }}</a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="col-lg-4">
        <div class="footer_contact">
          <h5>Contact</h5>
          <a href="tel:{{ telephone }}">{{ telephone }}</a>
          <a href="mailto:{{ email }}">{{ email }}</a>
          <p>{{ address }}</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="newsletter">
          {{ subscribe }}
          <h4>Follow Us On</h4>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="{{ FB_LINK }}" target="_blank"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="{{ LI_LINK }}" target="_blank"><i class="bi bi-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="{{ IG_LINK }}" target="_blank"><i class="bi bi-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="{{ YT_LINK }}" target="_blank"><i class="bi bi-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
{{ cookie }}
<script src="{{ bootstrap }}" type="text/javascript"></script>
{% for script in scripts %}
  <script src="{{ script.href }}" type="text/javascript"></script>
{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(function() {
    $('.multiple_causes').owlCarousel({
      loop: true,
      margin: 10,
      responsiveClass: true,
      dots: true,
      responsive: {
        0: {
          items: 1,
          nav: false,
          dots: true
        },
        600: {
          items: 2,
          nav: false,
          dots: true
        },
        1000: {
          items: 5,
          nav: false,
          dots: true
        }
      }
    });
    $('.key_ingredients').owlCarousel({
      loop: true,
      margin: 10,
      responsiveClass: true,
      dots: true,
      responsive: {
        0: {
          items: 2,
          nav: false,
          dots: true
        },
        600: {
          items: 3,
          nav: false,
          dots: true
        },
        1000: {
          items: 6,
          nav: false,
          dots: true
        }
      }
    });
  });
  if ($(window).width() > 992) {
    var winWidth = $(window).width(),
            dropdown = $('.dropdown'),
            dropdownMenu = $('.dropdown-menu');

    if (winWidth >= 1268) {
      dropdown.on('mouseenter', function () {
        $(this).addClass('show')
                .children(dropdownMenu).addClass('show');
      });
      dropdown.on('mouseleave', function () {
        $(this).removeClass('show')
                .children(dropdownMenu).removeClass('show');
      });
    } else {
      dropdown.off('mouseenter mouseleave');
    }
  }
</script>
</body>
</html>
