{{ header }}
<div id="common-home">
    <div id="content">
        {{ column_left }}
        <section class="section">
            <div class="container">
                <div class="heading">
                    <h1>Hair Loss Has Multiple Root Causes</h1>
                </div>
                <div class="row justify-content-center align-items-start">
                    <div class="col-lg-3">
                        <div class="causes_card">
                            <div class="causes_icon">
                                <img src="/image/catalog/genetic.png" class="img-fluid" alt="">
                            </div>
                            <h3>Genetic</h3>
                            <p>Genetics play a large role in your hair loss story</p>
                        </div>
                        <div class="causes_card">
                            <div class="causes_icon">
                                <img src="/image/catalog/stress.png" class="img-fluid" alt="">
                            </div>
                            <h3>Stress</h3>
                            <p> Constant mental or physical stress could lead to hair fall</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="causes_card mb-4 d-lg-inline-block d-none">
                            <div class="big_img">
                                <img src="/image/catalog/causes.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="causes_card col-lg-6 mx-auto mb-lg-0">
                            <div class="causes_icon">
                                <img src="/image/catalog/medications.png" class="img-fluid" alt="">
                            </div>
                            <h3>Medications</h3>
                            <p> Medications too can contribute to hair loss, including chemotherapy and radiation</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="causes_card">
                            <div class="causes_icon">
                                <img src="/image/catalog/poor-diet.png" class="img-fluid" alt="">
                            </div>
                            <h3>Poor Diet</h3>
                            <p>Deficiency of vitamins, minerals and nutrients can make hair weak and prone to breakage</p>
                        </div>
                        <div class="causes_card">
                            <div class="causes_icon">
                                <img src="/image/catalog/smoking.png" class="img-fluid" alt="">
                            </div>
                            <h3>Smoking</h3>
                            <p>Regular smoking could lead to free radicals damaging the hair follicles</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- secrets  -->
        <section class="section">
            <div class="container">
                <div class="gradient_card">
                    <div class="heading">
                        <h2>Unlocking nature’s secrets - an irresistibly tasty <br /> blend that <span>guarantees better hair and skin!</span></h2>
                    </div>
                    <div class="row row-cols-lg-5 row-cols-md-5 row-cols-2 gy-4">
                        <div class="col">
                            <div class="secret_card">
                                <div class="secret_icon">
                                    <img src="/image/catalog/visible.png" alt="Visible Benefits" class="img-fluid">
                                </div>
                                <h3>Visible Benefits</h3>
                            </div>
                        </div>
                        <div class="col">
                            <div class="secret_card">
                                <div class="secret_icon">
                                    <img src="/image/catalog/batches.png" alt="Small Batches" class="img-fluid">
                                </div>
                                <h3>Small Batches</h3>
                            </div>
                        </div>
                        <div class="col">
                            <div class="secret_card">
                                <div class="secret_icon">
                                    <img src="/image/catalog/sugar-free.png" alt="Sugar-free" class="img-fluid">
                                </div>
                                <h3>Sugar-free</h3>
                            </div>
                        </div>
                        <div class="col">
                            <div class="secret_card">
                                <div class="secret_icon">
                                    <img src="/image/catalog/vegan.png" alt="Vegan" class="img-fluid">
                                </div>
                                <h3>Vegan</h3>
                            </div>
                        </div>
                        <div class="col">
                            <div class="secret_card">
                                <div class="secret_icon">
                                    <img src="/image/catalog/organic.png" alt="Organic Ingredients" class="img-fluid">
                                </div>
                                <h3>Organic Ingredients</h3>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="btn btn_light mt-5">Take The Hair Test <img src="/image/catalog/test.png" alt="Take The Hair Test"></a>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="heading">
                    <h3>Here Is How It Will Work</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="work_card">
                            <h3>Take The Hair Test</h3>
                            <p>An online test that assess the root cause of your hair loss</p>
                            <div class="bottom_icon">
                                <div class="d-flex justify-content-between">
                                    <img src="/image/catalog/bulb.png" class="img-fluid" alt="Take The Hair Test">
                                    <img src="/image/catalog/1.svg" class="img-fluid" alt="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="work_card">
                            <h3>Take The Hair Test</h3>
                            <p>An online test that assess the root cause of your hair loss</p>
                            <div class="bottom_icon">
                                <div class="d-flex justify-content-between">
                                    <img src="/image/catalog/cart.png" class="img-fluid" alt="cart.png">
                                    <img src="/image/catalog/2.svg" class="img-fluid" alt="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="work_card">
                            <h3>Take The Hair Test</h3>
                            <p>An online test that assess the root cause of your hair loss</p>
                            <div class="bottom_icon">
                                <div class="d-flex justify-content-between">
                                    <img src="/image/catalog/grow.png" class="img-fluid" alt="grow">
                                    <img src="/image/catalog/3.svg" class="img-fluid" alt="1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="heading">
                    <h3>How is Grolocs for everyone</h3>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="grolocs_img">
                            <img src="/image/catalog/grolocs.png" alt="How is Grolocs for everyone" class="img-fluid">
                            <p>Made by experts</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="grolocs_content">
                            <h3>Increase Volume, and Shine</h3>
                            <p>A Revolutionary hair food crafted by world-renowned dermatologists to nourish your hair with essential supplements and minerals for better growth.</p>
                            <p>Experience the transformation and unleash your hair's full potential.</p>
                            <ul class="list-unstyled">
                                <li><img src="/image/catalog/check.svg" class="img-fluid" alt="check"> Scientifically proven with clinically proven ingredients</li>
                                <li><img src="/image/catalog/check.svg" class="img-fluid" alt="check"> 100% Vegetarian (Plant based)</li>
                                <li><img src="/image/catalog/check.svg" class="img-fluid" alt="check"> Micronutrients & antioxidant-rich - includes DHA, evening primrose oil, green apple extracts, turmeric, niacinamide, biotin, folic acid and selenium</li>
                                <li><img src="/image/catalog/check.svg" class="img-fluid" alt="check"> Strengthen & improve the Quality of Hair</li>
                                <li><img src="/image/catalog/check.svg" class="img-fluid" alt="check"> A delicious blend of goodness to make sure that your hair is taken care of</li>
                            </ul>
                            <a href="javascript:void(0)" class="btn btn_primary_small d-block ms-auto">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section pb-5">
            <div class="container">
                <div class="consultation_card">
                    <div class="consultation_body">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-3">
                                <div class="consultation_img">
                                    <img src="/image/catalog/user.png" class="img-fluid me-auto d-block" alt="consultation">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="consultation_content">
                                    <h3>Free Consultation</h3>
                                    <p>with our Product Advisers</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <a href="javascript:void(0)" class="btn btn_primary mx-auto d-block">Start Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ content_top }}
        <section class="testimonial_section">
            <div class="container">
                <div class="heading">
                    <h3>Our Patients Testify</h3>
                </div>
                <div class="col-lg-8 mx-auto">
                    <div class="carousel_slide">
                        <div id="carouselExample" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <p>"I can see good results post-transplant. Overall good. As suggested, I may go for further transplant for crown area. I am currently taking 6 months cyclical therapy again to stop hair fall. Then will take the decision accordingly. I can say I would prefer someone for A K Clinic. As it is giving person the way to live more happily.." </p>
                                    <p class="text-end mt-5">Vikalp Gaur</p>
                                </div>
                                <div class="carousel-item">
                                    <p>"I can see good results post-transplant. Overall good. As suggested, I may go for further transplant for crown area. I am currently taking 6 months cyclical therapy again to stop hair fall. Then will take the decision accordingly. I can say I would prefer someone for A K Clinic. As it is giving person the way to live more happily.." </p>
                                    <p class="text-end mt-5">Vikalp Gaur</p>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <i class="bi bi-arrow-left"></i>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ content_bottom }}
    </div>
</div>
{{ footer }}