<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
{% if informations %}
    {% for information in informations %}
        <li class="nav-item">
            <a href="{{ information['href'] }}" class="nav-link nav_link"{% if information['external'] %} target="_blank"{% endif %}>{{ information['title'] }}</a>
        </li>
    {% endfor %}
{% endif %}
{% if categories %}
  {% for category in categories %}
    {% if category.children %}
      <li class="nav-item dropdown"><a href="{{ category.href }}" class="nav-link nav_link dropdown-toggle" data-bs-toggle="dropdown">{{ category.name }}</a>
        <div class="dropdown-menu">
          <div class="dropdown-inner">
            {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                  <li><a href="{{ child.href }}" class="nav-link">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
          <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a>
        </div>
      </li>
    {% else %}
      <li class="nav-item"><a href="{{ category.href }}" class="nav-link nav_link">{{ category.name }}</a></li>
    {% endif %}
  {% endfor %}
{% endif %}
<li class="nav-item">
    <a href="{{ contact }}" class="btn btn_primary">Contact</a>
</li>
</ul>