{{ header }}
<section class="inner_section">
  <div id="common-success" class="container">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
      <div id="content" class="col">{{ content_top }}
        <div class="success">
          <h1>{{ heading_title }}</h1>
          {{ text_message }}
        </div>
        <div class="newsletter mt-5 text-center">
          <h4>Follow Us On</h4>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/AKClinics" target="_blank"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/company/ak-clinics/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/ak.clinics/" target="_blank"><i class="bi bi-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.youtube.com/user/TheFuehairtransplant" target="_blank"><i class="bi bi-youtube"></i></a>
            </li>
          </ul>
        </div>
        <div class="text-end"><a href="{{ continue }}" class="btn btn_primary mx-auto d-block">{{ button_continue }}</a></div>

        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</section>
{{ footer }}
