{{ header }}
<section class="inner_section">
  <div id="account-account" class="container">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> {{ success }}</div>
    {% endif %}
    <div class="row">{{ column_left }}
      <div id="content" class="col">{{ content_top }}
        <div class="row gy-4">
          <div class="col-lg-4">
            <div class="card_account">
              <div class="account_heading">
                <h1>{{ text_my_account }}</h1>
                <hr class="line mt-2">
              </div>
              <ul class="list-unstyled">
                <a href="{{ edit }}">{{ text_edit }}</a>
                <a href="{{ password }}">{{ text_password }}</a>
                <a href="{{ address }}">{{ text_address }}</a>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card_account">
              <div class="account_heading">
                <h2>{{ text_my_orders }}</h2>
                <hr class="line mt-2">
              </div>
              <ul class="list-unstyled">
                <a href="{{ order }}">{{ text_order }}</a>
                {% if ALLOW_RETURN %}
                <a href="{{ return }}">{{ text_return }}</a>
                {% endif %}

              </ul>
            </div>
          </div>
          {% if affiliate %}
            <div class="col-lg-4">
              <div class="card_account">
                <div class="account_heading">
                  <h2>{{ text_my_affiliate }}</h2>
                  <hr class="line mt-2">
                </div>
                <ul class="list-unstyled">
                  {% if not tracking %}
                    <a href="{{ affiliate }}">{{ text_affiliate_add }}</a>
                  {% else %}
                    <a href="{{ affiliate }}">{{ text_affiliate_edit }}</a>
                    <a href="{{ tracking }}">{{ text_tracking }}</a>
                  {% endif %}
                </ul>
              </div>
            </div>
          {% endif %}
          <div class="col-lg-4">
            <div class="card_account">
              <div class="account_heading">
                <h2>{{ text_my_newsletter }}</h2>
                <hr class="line mt-2">
              </div>
              <ul class="list-unstyled">
                <a href="{{ newsletter }}">{{ text_newsletter }}</a>
              </ul>
            </div>
          </div>
        </div>
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</section>
{{ footer }}
