{{ header }}
<section class="inner_section">
  <div id="account-forgotten" class="container">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
      <div id="content" class="col">{{ content_top }}
        <div class="heading">
          <h1 class="text-start mb-2">{{ heading_title }}</h1>
          <p>{{ text_email }}</p>
        </div>
        <form id="form-forgotten" action="{{ confirm }}" method="post" data-oc-toggle="ajax">
          <div class="form-group required">
            <label for="input-email" class="form-label">{{ entry_email }}</label>
            <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
            <div id="error-email" class="invalid-feedback"></div>
          </div>
          <div class="row justify-content-between">
            <div class="col-auto">
              <a href="{{ back }}" class="btn btn_dark">{{ button_back }}</a>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn_primary">{{ button_continue }}</button>
            </div>
          </div>
        </form>
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</section>
{{ footer }}