{{ header }}
<section class="inner_section">
  <div id="account-password" class="container">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
      <div id="content" class="col">{{ content_top }}
        <div class="account_heading">
          <h1>{{ heading_title }}</h1>
        </div>
        <form id="form-password" action="{{ save }}" method="post" data-oc-toggle="ajax">
            {# <legend>{{ text_password }}</legend>#}
            <div class="row">
              <div class="col-lg-6">
                <div class="form-floating mb-3 required">
                  <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" autocomplete="new-password"/>
                  <label for="input-password" class="form-label">{{ entry_password }}</label>
                  <div id="error-password" class="invalid-feedback"></div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-floating mb-3 required">
                  <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control"/>
                  <label for="input-confirm" class="form-label">{{ entry_confirm }}</label>
                  <div id="error-confirm" class="invalid-feedback"></div>
                </div>
              </div>
            </div>
            <div class="row justify-content-between">
              <div class="col-auto">
                <a href="{{ back }}" class="btn btn_dark">{{ button_back }}</a>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn_primary">{{ button_continue }}</button>
              </div>
            </div>
        </form>
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</section>
{{ footer }}
