{{ header }}
<script src="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<div id="hair-test" class="container">
        <div id="content" class="col-lg-9 mx-auto">
            <nav class="test_nav">
                <div class="d-flex justify-content-between mt-4 mb-3 w-100">
                    <a href="javascript:void(0)" data-attr="" class="text_link prev_link d-none"><i class="bi bi-arrow-left"></i> Previous</a>
                    <a href="{{ home_link }}" class="btn btn_primary_outline ms-auto">Exit</a>
                </div>
                <div id="nav-tab" class="nav nav-pills nav-fill form_pills gap-3 mb-3">
                    {% for category in categories %}
                        <button id="category_{{ category.category_id }}" type="button" class="nav-link test-categories">{{ category.name }}</button>
                    {% endfor %}
                </div>
            </nav>
            <form action="{{ save }}" id="hair-test-form" data-oc-toggle="ajax">
                <div id="nav-tabContent" class="tab-content col-lg-10 mx-auto mt-5">
                    <div class="tab-pane fade show active" id="hair-test-question"></div>
                </div>
            </form>
        </div>

</div>
<script type="text/javascript">
    function getQuestion(parent_id=null) {
        $.ajax({
            url: "{{ question }}",
            method: "POST",
            dataType: "html",
            data: "parent_id="+parent_id,
            success: function (json) {
                $("#hair-test-question").html(json)
            }
        })
    }
    getQuestion();
    $(document).on("click", '.prev_link', function () {
        const data = $(this).attr("data-attr");
        getQuestion(data);
    })
</script>